{
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 100,
  "plugins": ["prettier-plugin-svelte"],
  "svelteSortOrder": "scripts-options-markup-styles",
  "singleQuote": true,
  "svelteStrictMode": true,
  "jsxSingleQuote": false,
  "arrowParens": "avoid",
  "semi": true,
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
